body {

    font-family: system-ui, sans-serif; margin: 24px; 
    text-align: center;
    overflow: hidden;

}

#glavniDiv{
    
}

#odabirAplikacije /*, .opcije */{

    width: 80%;
    margin: 0 auto 0 auto;
    color: rgb(121, 119, 119);
    border: 1px solid rgba(165, 165, 165, 0.3); 
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1.2em;
    
}

a{

    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(33, 153, 73);
    
}

#portfolio{

    width: 90%;
    margin: 0 auto 0 auto;
    /* border: 3px solid rgb(13, 131, 228);
    border-radius: 10px; */
    display: flex;
    flex-direction: row;

}

#chartPortfolioInfo {
    width: 100%;
    height: 180px !important;
    max-height: 180px !important;
    /* display: block; */
}


#portfolio div{

    width: 80%;
    margin: 0 auto 0 auto;
    /* border: 2px solid rgba(13, 131, 228, 0.5);
    border-radius: 10px; */
    max-height: 820px;
    overflow: hidden;
    padding: 0.4em;

}

input{

    width: 10em;
    border: 2px solid rgba(13, 131, 228, 0.8);
    border-radius: 10px;
    padding: 0.4em;
    text-align: center;

}

  .sneg{
    position: fixed; inset: 0;
    pointer-events: none;
    background-image:
      radial-gradient(2px 2px at 20px 30px, #17b2d5 50%, transparent 1%),
      radial-gradient(1px 1px at 40px 70px, #17b2d5 50%, transparent 1%),
      radial-gradient(1.5px 1.5px at 90px 40px, #17b2d5 50%, transparent 1%);
    background-size: 100px 100px;
    opacity: .9;
    filter: drop-shadow(0 0 1px rgb(77, 90, 84));
    animation: snowMove 8s linear infinite;
  }

  @keyframes snowMove{
    from { transform: translateY(-120px); }
    to   { transform: translateY(120px); }
  }


@media screen and (max-width: 700px /* umesto 1080 */){

    body{
        overflow: auto;
    }
    
    #portfolio{

        display: flex;
        flex-direction: column;

    }

    input {
        width: 11.6em;
    }


}

