body { 
        font-family: system-ui, sans-serif; margin: 24px; 
        text-align: center;
}

#odabirAplikacije /*, .opcije */{

    width: 80%;
    margin: 0 auto 0 auto;
    color: rgb(121, 119, 119);
    border: 1px solid rgba(165, 165, 165, 0.3); 
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1.2em;
    

}

a{

    text-decoration: none;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(33, 153, 73);
    
}

#portfolio{

    width: 90%;
    margin: 0 auto 0 auto;
    /* border: 3px solid rgb(13, 131, 228);
    border-radius: 10px; */
    display: flex;
    flex-direction: row;

}



#portfolio div{

    width: 80%;
    margin: 0 auto 0 auto;
    /* border: 2px solid rgba(13, 131, 228, 0.5);
    border-radius: 10px; */
    max-height: 820px;
    overflow: hidden;
    padding: 0.6em;

}

input{

    width: 10em;
    border: 2px solid rgba(13, 131, 228, 0.8);
    border-radius: 10px;
    padding: 0.4em;
    text-align: center;

}

@media screen and (max-width: 1080px){
    
    #portfolio{

        display: flex;
        flex-direction: column;

    }



}

